$html-background: color(primary);
$html-font: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$nav-background: color(accent);
$nav-width: 20rem;
$nav-z-index: 1;
$nav-toggle-bar-height: 0.4rem;
$nav-toggle-bar-width: 3.6rem;
$nav-toggle-z-index: 2;
