$html-background: $plum;
$html-font: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$nav-toggle-bar-color: white;
$nav-toggle-bar-height: 0.4rem;
$nav-toggle-bar-width: 3.6rem;
$nav-background: $aqua;
$nav-color: white;
$nav-width: 20rem;
$z-nav-toggle: 2;
$z-nav: 1;
