/* nav toggle */
.nav-toggle {
	cursor: pointer;
	height: 5 * $nav-toggle-bar-height;
	left: 2rem;
	position: fixed;
	top: 2rem;
	width: $nav-toggle-bar-width;
	z-index: $nav-toggle-z-index;
	&:hover { opacity: 0.8; }

	.nav-toggle-bar,
	.nav-toggle-bar::after,
	.nav-toggle-bar::before {
		@include center-vertically;
		background: contrast-color($nav-background);
		content: '';
		height: $nav-toggle-bar-height;
		transition: all .5s;
		width: 100%;
	}
	.nav-toggle-bar { margin-top: 0; }
	.nav-toggle-bar::after { margin-top: 2 * $nav-toggle-bar-height; }
	.nav-toggle-bar::before { margin-top: -2 * $nav-toggle-bar-height; }
	&.expanded .nav-toggle-bar { background: transparent; }
	&.expanded .nav-toggle-bar::after,
	&.expanded .nav-toggle-bar::before {
		background: contrast-color($nav-background);
		margin-top: 0;
	}
	&.expanded .nav-toggle-bar::after { @include transform(rotate(45deg)); }
	&.expanded .nav-toggle-bar::before { @include transform(rotate(-45deg)); }
}

/* nav */
.nav {
	background: $nav-background;
	color: contrast-color($nav-background);
	cursor: pointer;
	display: flex;
	font-size: 2rem;
	height: 100vh;
	left: -$nav-width;
	padding: 6rem 2rem 2rem 2rem;
	position: fixed;
	top: 0;
	transition: all .5s;
	width: $nav-width;
	z-index: $nav-z-index;
	&.expanded { left: 0; }

	ul {
		list-style: none;
		margin: auto 0;
		padding: 0;
	}
}
